<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quotes Site</title>
</head>
<body>
  <nav>
    <a href="{% url 'quotes:quote_list' %}">Quotes</a>
    {% if user.is_authenticated %}
      <span>Hi, {{ user.username }}!</span>
      <a href="{% url 'quotes:add_author' %}">Add author</a>
      <a href="{% url 'quotes:add_quote' %}">Add quote</a>
      <a href="{% url 'quotes:logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'quotes:login' %}">Login</a>
      <a href="{% url 'quotes:register' %}">Register</a>
    {% endif %}
  </nav>
  <hr>
  {% block content %}{% endblock %}
</body>
</html>